<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>worryburry</title>
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="custom_body">
    <div class>
        div(class="custom_header")
            div(class="menu-circle" style=" cursor: pointer;" onclick="location.href='#';")
    </div>
    <div class="custom_items_line">
        <main class="Container">
            div(class="custom_container")
                <img class="TitleImage PixelArtImage" src="title.png" alt="Walking Demo Sprites" />
                <div class="middle_box">
                    
                    <div class="SpritesheetSlider">
                        <!-- This div is our character -->
                        <div class="Character Character--walk-down">
                            //div(class="custom_name_box")
                            <!-- Spritesheets injected here: -->
                        </div>
                    
                        <div class="Navigation flex-center">
                            <!-- Navigation bubbles injected here: -->
                        </div> 

                        <!-- 악세사리 버튼 -->
                        <button class="NextSpritesheetButton NextSpritesheetButton--prev--accessory">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 7 7" shape-rendering="crispEdges">
                                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                                <path stroke="#434343" d="M3 0h1M2 1h1M1 2h1M0 3h1M1 4h1M2 5h1M3 6h1" />
                            </svg>
                        </button>

                        <img src="acc.png" class="NextSpritesheetButton acc">

                        <button class="NextSpritesheetButton NextSpritesheetButton--next--accessory">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 7 7" shape-rendering="crispEdges">
                                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                                <path stroke="#434343" d="M0 0h1M1 1h1M2 2h1M3 3h1M2 4h1M1 5h1M0 6h1" />
                            </svg>
                        </button>
                        
                    
                        <button class="NextSpritesheetButton NextSpritesheetButton--prev--hair" >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 5 7" shape-rendering="crispEdges">
                                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                                <path stroke="#434343" d="M3 0h1M2 1h1M1 2h1M0 3h1M1 4h1M2 5h1M3 6h1" />
                            </svg>
                        </button>
                        <button class="NextSpritesheetButton NextSpritesheetButton--next--hair">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 5 7" shape-rendering="crispEdges">
                                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                                <path stroke="#434343" d="M0 0h1M1 1h1M2 2h1M3 3h1M2 4h1M1 5h1M0 6h1" />
                            </svg>
                        </button>

                        <!-- 옷 버튼-->
                        <button class="NextSpritesheetButton NextSpritesheetButton--prev--cloth">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 5 7" shape-rendering="crispEdges">
                                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                                <path stroke="#434343" d="M3 0h1M2 1h1M1 2h1M0 3h1M1 4h1M2 5h1M3 6h1" />
                            </svg>
                        </button>
                        <button class="NextSpritesheetButton NextSpritesheetButton--next--cloth">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 5 7" shape-rendering="crispEdges">
                                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                                <path stroke="#434343" d="M0 0h1M1 1h1M2 2h1M3 3h1M2 4h1M1 5h1M0 6h1" />
                            </svg>
                        </button>

                        <!-- 바지 버튼 -->
                        <button class="NextSpritesheetButton NextSpritesheetButton--prev--bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 5 7" shape-rendering="crispEdges">
                                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                                <path stroke="#434343" d="M3 0h1M2 1h1M1 2h1M0 3h1M1 4h1M2 5h1M3 6h1" />
                            </svg>
                        </button>
                        <button class="NextSpritesheetButton NextSpritesheetButton--next--bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 5 7" shape-rendering="crispEdges">
                                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                                <path stroke="#434343" d="M0 0h1M1 1h1M2 2h1M3 3h1M2 4h1M1 5h1M0 6h1" />
                            </svg>
                        </button>

                        <!-- 신발 버튼 -->
                        <button class="NextSpritesheetButton NextSpritesheetButton--prev--shoes">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 5 7" shape-rendering="crispEdges">
                                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                                <path stroke="#434343" d="M3 0h1M2 1h1M1 2h1M0 3h1M1 4h1M2 5h1M3 6h1" />
                            </svg>
                        </button>
                        <button class="NextSpritesheetButton NextSpritesheetButton--next--shoes">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 5 7" shape-rendering="crispEdges">
                                <metadata>Made with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj</metadata>
                                <path stroke="#434343" d="M0 0h1M1 1h1M2 2h1M3 3h1M2 4h1M1 5h1M0 6h1" />
                            </svg>
                        </button>
                        

                    </div>

                    <!--하영수정(순서) 아래 코드 전체 복사-->
                    <div class="DemoDirectionUI flex-center">
                        <button class="DirectionArrow DirectionArrow-down DirectionArrow--active">
                                <img src="btn_1.png" class="btn" />
                        </button>
                        <button class="DirectionArrow DirectionArrow-right">
                                <img src="btn_2.png" class="btn" />
                        </button>
                        <button class="DirectionArrow DirectionArrow-up">
                            <img src="btn_3.png" class="btn" />
                        </button>
                        <button class="DirectionArrow DirectionArrow-left">
                        <img src="btn_4.png" class="btn" />
                        </button>
                    </div>
                </div>
                <div class="card-container">
                    <form name="form" id="characterNameForm" action="/custom" method="POST">
                        <input class="characterName" type="text" name="characterName" placeholder="걱정인형 이름 입력하기" required/>
                    </form>
                    <button class="new-btn">▶</button>      
                </div>
        </main>
    </div>  
        <div id="cap">
        </div>
        div(id="ltv" class="lefttv")
        div(id="rtv" class="righttv")
<!-- partial -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script  src="/static/js/custom.js"></script>
  <script  src="/static/js/saveCustom.js"></script>
</body>
</html>
