doctype html
html(lang="ko")
    head
        title worryburry start
        link(rel="stylesheet", href="/static/css/styles.css")
    body(id="home")
        main
            div(class="layer")
            div(class="Title")
                img(class="home_title", src="home_title.png")
            div(class="Character1")
                img(class="Character_spritesheet pixelart", src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DemoRpgCharacterShadow.png")
                img(class="Character_spritesheet pixelart face-down", src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DemoRpgCharacter.png")

            div(class="home_color-controls" )
                p(id="realStart") 캐릭터에게 말을 걸어본다!
                ul(id="home_ul")
                    li(id="home_1") 안녕? 이곳에 온 것을 환영해.       
                    li(id="home_2") 지금부터 너만의 걱정인형을 만들어 볼 거야!       
                    li(id="home_3") 시작하기 버튼을 눌러보자.      
                    li(id="home_4")               
                p(class="typing")
                p(id="start") 시작하기
        script(src="http://code.jquery.com/jquery-latest.js")
        script(src="/static/js/home.js")

        