DOCTYPE 
html(lang="en")
head 
    title worryburry letter
    link(rel="stylesheet" href="/static/css/styles.css")
body(id="letter_body") 
    <div style="touch-action: none">
        div(class="letter_header")
            div(class="menu-circle" style=" cursor: pointer;" onclick="location.href='#';")
    </div>
    <div class="letter_items_line">
        main(class="letter_container")
            div(class="letter_Title")
                img(class="letter_title_inbox", src="home_title.png")
            
            div(class="wave-effect")
                <span class="button"style=" cursor: pointer;" onclick="location.href='#popup1';">&#128233;</span>
            div(id="popup1" class="overlay")
                div(class="popup")
                    div(class="header")
                        div(class="letter_menu-circle" style=" cursor: pointer;" onclick="location.href='#';")
                    div(class="letter_items_inbox")
                        div(class="letter_character")
                            img(class="letter_character_spritesheet" src=url)
                        h2 #{name}의 편지
                        div(class="content") #{message}
    </div>
    div(id="stv" class="staticleft")
    div(id="stv" class="staticright")  


