DOCTYPE 
html(lang="en")
head 
    title worryburry letter
    link(rel="stylesheet" href="/static/css/styles.css")
body(id="letter_body") 
    div(class="wave-effect")
        <span class="button"style=" cursor: pointer;" onclick="location.href='#popup1';">&#128233;</span>
    div(id="popup1" class="overlay")
        div(class="popup")
            div(class="header")
                div(class="menu-circle" style=" cursor: pointer;" onclick="location.href='#';")
            div(class="question_character")
                img(class="question_character_spritesheet question_pixelart" src=url)
            h2 #{name}의 편지
            div(class="content") #{message}



