<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>worryburry nft-page</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v6.1.1/css/all.css'>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="nftpage_body">
    <div class="nftpage_items_line">
        <header class="nft_header"> 
            <img class='title' src="title.png"/>
        </header>
        <main>
            <div id="room_type" class="origin">
                <div class="nft-card">
                    <div class="cardheader">
                        div(class="menu-circle" style=" cursor: pointer;" onclick="location.href='#';")
                    </div>  <!-- nft-card--music -->
                    <div class="carditems">
                        <div class="nft-card--header">
                            <div class="nft-user">
                            <span id="nft-name">#{name}</span>
                            </div>
                        </div>
                        <div class="nft-card--content">
                            <div class="page_character">
                                <img id = "photo2" class="page_character_spritesheet">
                            </div>
                        </div>
                        <div class="nft-card--footer">
                            <div class="nft-price">
                                <span id="nft-price-span">총 걱정비용</span>
                                <i class="fa-brands fa-bitcoin"></i>
                            </div>
                            <div class="nft-time">
                                <i class="far fa-solid fa-heart fa-beat"><span id="nft_category"></span></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="object">
            <div id="field" ></div>
        </div>
    </div>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script  src="/static/js/nftPage.js"></script>
</body>
</html>