doctype html
html(lang="ko")
    head
        title 커스텀 페이지
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        main
            div(class="question_character")
                img(class="question_character_spritesheet question_pixelart", src=url)
            div(class="color-controls")
                ul
                    li(id="question_character") #{name} 
                p(class="question_typing")
                input(id="name", type="text", placeHolder="", class="textinput width-dynamic")
                input(id="traffic", type="text", placeHolder="", class="textinput width-dynamic")
                input(id="worry", type="text", placeHolder="", class="textinput width-dynamic")
                input(id="last", type="text", placeHolder="", class="textinput width-dynamic")
            div(id="qrcode", style="width:100px; height:100px;")
        script(src="http://code.jquery.com/jquery-latest.js")
        script(src="/static/js/question.js")