doctype html
html(lang="ko")
    head
        title 커스텀 페이지
        link(rel="stylesheet", href="/static/css/styles.css")
    body(class="question_body")
        iframe(src="./question.wav" allow="autoplay" id="audio" style="display:none" loop=1)
        <div class="question_header_div">
            div(class="question_header")
                div(class="menu-circle" style="cursor: pointer;" onclick="location.href='#';")
        </div>
        <div class="question_items_line">
            main(class="question_main")
                div(class="question_Title")
                    img(class="question_title_img", src="home_title.png")
                div(class="question_character")
                    img(class="question_character_spritesheet question_pixelart", src=url)
                div(class="question_color-controls")
                    ul
                        li(id="question_character") #{name}
                    div(class="question_typing_div")
                        p(class="question_typing")
                    p(class="question_blank")
                    input(id="question_name", type="text", placeHolder="", class="textinput width-dynamic")
                    input(id="question_traffic", type="text", placeHolder="", class="textinput width-dynamic")
                    input(id="question_worry", type="text", placeHolder="", class="textinput width-dynamic")
                    input(id="question_last", type="text", placeHolder="", class="textinput width-dynamic", placeholder="네 고민을 알려줘!")
        </div>
        div(id="onlyid") #{onlyid}
        div(id="stv" class="staticleft")
        div(id="stv" class="staticright")  
        script(src="http://code.jquery.com/jquery-latest.js")
        script(src="/static/js/question.js")