<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Webcam</title>
<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body id="web_body">
    <div id="back">
        <video muted loop autoplay>
            <source src="/background_heart.mp4" type="video/mp4">
        </video>
    </div>
    <div class="webcame_home">X</div>
    <div id="webcame_container">
        <video autoplay="true" id="videoElement"></video>
        <div class="webcam_character">
            img(class="webcam__spritesheet" src=url)
        </div>
    </div>

<script src="/static/js/webcame.js"></script>
</body>
</html>