@charset "UTF-8";

:root {
  --pixel-size: 6;
}

.PixelArtImage {
  touch-action: none;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.Character {
  touch-action: none;
  width: calc(var(--pixel-size) * 32px);
  height: calc(var(--pixel-size) * 32px);
  overflow: hidden;
  position: relative;
  margin: calc(var(--pixel-size) * 6px) auto;
}


@-webkit-keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }

  to {
    transform: translate3d(-100%, 0%, 0);
  }
}

@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }

  to {
    transform: translate3d(-100%, 0%, 0);
  }
}

.walk {
  touch-action: none;
  -webkit-animation: walkAnimation 1.5s steps(4) infinite;
  animation: walkAnimation 1.5s steps(4) infinite;
  display: block;
}

.Character_sprite-sheet_accessory.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.Character_sprite-sheet_accessory.active_accessory.walk {
  touch-action: none;
  display: block;
}

.Character_sprite-sheet_base.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet_base.active_base.walk {
  touch-action: none;
  display: block;
}

/* 헤어 */
.Character_sprite-sheet_hair.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
    animation: walkAnimation 1.5s steps(4) infinite;  */
  /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet_hair.active_hair.walk {
  touch-action: none;
  display: block;
}

/* 옷 */
.Character_sprite-sheet_cloth.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
    animation: walkAnimation 1.5s steps(4) infinite;  */
  /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet_cloth.active_cloth.walk {
  touch-action: none;
  display: block;
}

/* 바지 */
.Character_sprite-sheet_bottom.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
    animation: walkAnimation 1.5s steps(4) infinite;  */
  /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet_bottom.active_bottom.walk {
  touch-action: none;
  display: block;
}

/* 신발 */
.Character_sprite-sheet_shoes.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
    animation: walkAnimation 1.5s steps(4) infinite;  */
  /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet_shoes.active_shoes.walk {
  touch-action: none;
  display: block;
}

/* 
 Set up classes that change the y position of underlying spritesheet.
 Spritesheet is designed with this layout:
  D1 D2 D3 D4
  R1 R2 R3 R4 (32px away from top)
  U1 U2 U3 U4 (64px away from top)
  L1 L2 L3 L4 (96px away from top)
EX: https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/WalkingDemo-HANK-2-SHEET.png
*/
/* 베이스*/
.Character--walk-down .Character_sprite-sheet_base {
  top: 0;
}

.Character--walk-down .Character_sprite-sheet_accessory {
  top: 0;
}

.Character--walk-down .Character_sprite-sheet_hair {
  top: 0;
}

.Character--walk-down .Character_sprite-sheet_cloth {
  top: 0;
}

.Character--walk-down .Character_sprite-sheet_bottom {
  top: 0;
}

.Character--walk-down .Character_sprite-sheet_shoes {
  top: 0;
}

/* 춤 */
.Character--walk-right .Character_sprite-sheet_base {
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-right .Character_sprite-sheet_accessory {
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-right .Character_sprite-sheet_hair {
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-right .Character_sprite-sheet_cloth {
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-right .Character_sprite-sheet_bottom {
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-right .Character_sprite-sheet_shoes {
  top: calc(var(--pixel-size) * -32px);
}

/* 걷기 */
.Character--walk-up .Character_sprite-sheet_base {
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-up .Character_sprite-sheet_accessory {
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-up .Character_sprite-sheet_hair {
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-up .Character_sprite-sheet_cloth {
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-up .Character_sprite-sheet_bottom {
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-up .Character_sprite-sheet_shoes {
  top: calc(var(--pixel-size) * -64px);
}

/* 미정 */
.Character--walk-left .Character_sprite-sheet_base {
  top: calc(var(--pixel-size) * -96px);
}

.Character--walk-left .Character_sprite-sheet_accessory {
  top: calc(var(--pixel-size) * -96px);
}

.Character--walk-left .Character_sprite-sheet_hair {
  top: calc(var(--pixel-size) * -96px);
}

.Character--walk-left .Character_sprite-sheet_cloth {
  top: calc(var(--pixel-size) * -96px);
}

.Character--walk-left .Character_sprite-sheet_bottom {
  top: calc(var(--pixel-size) * -96px);
}

.Character--walk-left .Character_sprite-sheet_shoes {
  top: calc(var(--pixel-size) * -96px);
}

/* Demo UI Stuff ------------------------------------------------- */
* {
  touch-action: none;
  box-sizing: border-box;
}

body {
  touch-action: none;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(180deg, #eaeaea 0%, #eaeaea 100%); */
  /*height: 100%;*/
  min-height: 100vh;
  padding-top: calc(var(--pixel-size) * 18px);
  font-family: "Dosis", sans-serif;
}

.Container {
  touch-action: none;
  max-width: calc(var(--pixel-size) * 100px);
  margin: 0 auto;
}

.custom_header {
  touch-action: none;
  margin-left: 22.5%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  width: 55.0%;
  background-color: rgba(54, 54, 54, 0.8);
  border-style: solid;
  border-width: 5px;
  border-radius: 15px 15px 0px 0px;
  border-color: black;
}

.custom_items_line {
  touch-action: none;
  margin-left: 22.5%;
  padding-bottom: 122px;
  width: 55.0%;
  border-style: solid;
  border-width: 5px;
  border-top-width: 0px;
  border-radius: 0px 0px 15px 15px;
  border-color: black;
}


.TitleImage {
  touch-action: none;
  width: calc(var(--pixel-size) * 55px);
  display: block;
  margin: auto;
  margin-top: -70px;
}

.Bubble {
  touch-action: none;
  -webkit-appearance: none;
  width: calc(var(--pixel-size) * 3px);
  height: calc(var(--pixel-size) * 3px);
  background: #2497cc;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  box-sizing: content-box;
}

.NavigationBubble:hover:not(.active) {
  touch-action: none;
  opacity: 0.9;
}

.NavigationBubble.active {
  touch-action: none;
  background: #fff;
}

.NextSpritesheetButton {
  touch-action: none;
  -webkit-appearance: none;
  border: 0;
  background: none;
  padding: 1em;
  position: absolute;
  top: 50%;
}

/* 악세사리 버튼 */
.NextSpritesheetButton--prev--accessory {
  top: -10%;
  left: 80%;
}

.NextSpritesheetButton--next--accessory {
  top: -10%;
  right: 0;
}

/* 머리 버튼 */
.NextSpritesheetButton--prev--hair {
  top: 10%;
  left: 0;
}

.NextSpritesheetButton--next--hair {
  top: 10%;
  right: 0;
}

/* 옷 버튼 */
.NextSpritesheetButton--prev--cloth {
  top: 30%;
  left: 0;
}

.NextSpritesheetButton--next--cloth {
  top: 30%;
  right: 0;
}

/* 바지 버튼 */
.NextSpritesheetButton--prev--bottom {
  top: 50%;
  left: 0;
}

.NextSpritesheetButton--next--bottom {
  top: 50%;
  right: 0;
}

/* 신발 버튼 */
.NextSpritesheetButton--prev--shoes {
  top: 70%;
  left: 0;
}

.NextSpritesheetButton--next--shoes {
  top: 70%;
  right: 0;
}

.NextSpritesheetButton:hover {
  touch-action: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.NextSpritesheetButton:focus {
  touch-action: none;
  outline: none;
}

.NextSpritesheetButton svg {
  touch-action: none;
  display: block;
  width: calc(var(--pixel-size) * 4px);
}

.DirectionArrow {
  touch-action: none;
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.DirectionArrow svg {
  touch-action: none;
  display: block;
  width: calc(var(--pixel-size) * 13px);
}

.DirectionArrow--active .Arrow_outline-top {
  stroke: #5268ec;
}

.DirectionArrow--active .Arrow_surface {
  stroke: #639bff;
}

.DirectionArrow--active .Arrow_outline-bottom {
  stroke: #164496;
}

.DirectionArrow--active .Arrow_edge {
  stroke: #7baaff;
}

.DirectionArrow--active .Arrow_front {
  stroke: #4c8bfd;
}

.DirectionArrow--active .Arrow_arrow-inset {
  stroke: #fff;
}

.DirectionArrow--active .Arrow_arrow-body {
  stroke: #fff;
}

/* 하영변경 */
.SpritesheetSlider {
  touch-action: none;
  position: relative;
  /*margin-bottom: calc(var(--pixel-size) * 30px);*/
}

.flex-center {
  touch-action: none;
  display: flex;
  justify-content: center;
}

/*하영수정 - 버튼*/
.btn {
  touch-action: none;
  position: relative;
  width: 35px;
  margin: 10px 0px 15px 0px;
  color: #76777e;
  box-shadow: 0 -3px 0 #35363a, 0 3px 0 #35363a, 3px 0 0 #35363a, -3px 0 0 #35363a;
  /*width: 60px;*/
}

/*하영추가 - 버튼 디자인*/
.btn:hover {
  touch-action: none;
  cursor: pointer;
  color: #fff;
  background-color: #a3a3a3;
}

.acc {
  top: -13%;
  left: 84%;
  width: 60px;
}

.cap {
  display: none;
}

.capImg_hair {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.result {
  margin-top: 500px;
  width: 2000px;
  height: 2000px;
  overflow: hidden;
  position: relative;
}

.card-container {
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}



/* 하영추가 - 이름입력 */
.characterName {
  touch-action: none;
  position: relative;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  width: 350px;
  height: 45px;
  margin: 30px 30px 30px 0px;
  color: #333333;
  background-color: #f9f9f9;
  box-shadow: 0 -3px 0 #35363a, 0 3px 0 #35363a, 3px 0 0 #35363a, -3px 0 0 #35363a;
  outline: none;
}


/* 하영추가 - 버튼 */
.new-btn {
  touch-action: none;
  display: flex;
  font-size: medium;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #333333;
  height: 43px;
  width: 60px;
  box-shadow: 0 -3px 0 #35363a, 0 3px 0 #35363a, 3px 0 0 #35363a, -3px 0 0 #35363a;
}

/* 하영추가 - 버튼 디자인*/
.new-btn:hover {
  touch-action: none;
  cursor: pointer;
  color: #fff;
  background-color: #4c4c4c;
}


.staticleft {
  touch-action: none;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 3.5s;
  animation: loopleft 3s 1 alternate forwards;

}

.staticright {
  touch-action: none;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 3.5s;
  animation: loopright 3s 1 alternate forwards;

}

@keyframes loopleft {
  0% {
    top: 0px;
    left: 77.5%;
  }

  100% {
    top: 0px;
    left: 77.5%;

  }
}

@keyframes loopright {
  0% {
    top: 0px;
    right: 77.5%;
  }

  100% {
    top: 0px;
    right: 77.5%;

  }
}

.lefttv {
  touch-action: none;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 3.5s;
  animation: leftloop 4.0s 1 alternate forwards;

}

.righttv {
  touch-action: none;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 3.5s;
  animation: rightloop 4.0s 1 alternate forwards;

}

@keyframes rightloop {
  0% {
    top: 0px;
    left: 100%;
  }

  100% {
    top: 0px;
    left: 77.5%;

  }
}

@keyframes leftloop {
  0% {
    top: 0px;
    right: 100%;
  }

  100% {
    top: 0px;
    right: 77.5%;

  }
}

.custom_body {
  touch-action: none;
  padding-top: 0;
}

::-webkit-scrollbar {
  touch-action: none;
  display: none;
}

.custom_container {
  touch-action: none;
  padding-top: calc(var(--pixel-size) * 18px);
}