#letter_body {
    touch-action: none;
    padding-top: 0;
}

.letter_header {
    touch-action: none;
    margin-left: 22.5%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 45px;
    width: 54.5%;
    background-color: rgba(54, 54, 54, 0.8);
    border-style: solid;
    border-width: 5px;
    border-radius: 15px 15px 0px 0px;
    border-color: black;
}

.letter_color-controls {
    touch-action: none;
    position: absolute;
    left: 50%;
    bottom: 7.75rem;
    max-width: 35.5rem;
    width: 100%;
    margin-top: $pixel * 5;
    margin-bottom: $pixel * 3;
    transform: translateX(-50%);
    padding: 1.75rem;
 
    @include dialogStyles;
    
    #letter_end {
        touch-action: none;
        @include pokeFont(2);
        display: block;
        text-align: center;
        cursor: pointer;
        -webkit-animation: fadein 2s;
    }
} 

.letter_items_line {
    touch-action: none;
    margin-left: 22.5%;
    padding-bottom: 563px;
    width: 54.5%;
    border-style: solid;
    border-width: 5px;
    border-top-width: 0px;
    border-radius: 0px 0px 15px 15px;
    border-color: black;
}

.letter_container {
    touch-action: none;
    padding-top: calc(var(--pixel-size) * 18px);
}

.letter_title {
    touch-action: none;
    width: auto;
   position: relative;
   display: block;
   margin: auto;
   margin-top: -20px;
}

h2 {
    @include pokeFont(2);
    font-weight: bold;
    font-size: 30px;
}

.letter_title_inbox {
    touch-action: none;
    width: calc(var(--pixel-size) * 55px);
   display: block;
   margin: auto;
   margin-top: -70px;
}

.overlay {
    touch-action: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    touch-action: none;
    visibility: visible;
    opacity: 1;
}

.popup {
    touch-action: none;
    margin: 70px auto;
    background: #fff;
    border-radius: 15px 15px 5px 5px;
    width: 570px;
    position: relative;
    transition: all 2s ease-in-out;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.popup .content {
    @include pokeFont(2);
    touch-action: none;
    padding: 20px;
    max-height: 30%;
    overflow: auto;
}

.letter_inner_header {
    touch-action: none;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 45px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    border-bottom: 5px solid rgba(113 119 144 / 25%);
    border-radius: 15px 15px 0px 0px;
    border-color: black;

}

.header {
    touch-action: none;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 45px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    border-bottom: 5px solid rgba(113 119 144 / 25%);
    border-radius: 15px 15px 0px 0px;
    border-color: black;
}

.menu-circle {
    touch-action: none;
    width: 15px;
    height: 15px;
    background-color: #f96057;
    border-radius: 50%;
    box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
    margin-left: 20px;
    flex-shrink: 0;
}

.letter_menu-circle {
    touch-action: none;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: #f96057;
    border-radius: 50%;
    box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
    margin-left: 20px;
    flex-shrink: 0;
}

.wave-effect {
    touch-action: none;
    position: relative;
    margin: 0 auto;
    top: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    margin-top: 126px;
}

.wave-effect span {
    touch-action: none;
    position: relative;
    font-size: 74px;
}

.wave-effect::after {
    touch-action: none;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 0.9s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
}

.wave-effect::before {
    touch-action: none;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 0.9s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }

    to {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1);
    }
}

.letter_character {
    touch-action: none;
    width: calc(var(--pixel-size) * 32px);
    height: calc(var(--pixel-size) * 32px);
    overflow: hidden;
    position: relative;
    margin: calc(var(--pixel-size) * 6px) auto;
}


.letter_character_spritesheet {
    touch-action: none;
    -webkit-animation: walkAnimation 1.5s steps(4) infinite;
    animation: walkAnimation 1.5s steps(4) infinite;
    display: block;
    touch-action: none;
    width: calc(var(--pixel-size) * 128px);
    position: absolute;
    top: 0;
    left: 0;

}

@-webkit-keyframes walkAnimation {
    from {
        transform: translate3d(0%, 0%, 0);
    }

    to {
        transform: translate3d(-100%, 0%, 0);
    }
}

@keyframes walkAnimation {
    from {
        transform: translate3d(0%, 0%, 0);
    }

    to {
        transform: translate3d(-100%, 0%, 0);
    }
}

