@charset "UTF-8";


:root {
   --pixel-size: 6;
}

.question_body {
   touch-action: manipulation;
   ::-webkit-scrollbar {
      display: none;
    }
   padding-top: 0;
}

.question_header {
   touch-action: manipulation;
   margin-left: 22.5%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 45px;
    width: 55.0%;
    background-color: rgba(54, 54, 54, 0.8);
    border-style: solid;
    border-width: 5px;
    border-radius: 15px 15px 0px 0px;
    border-color: black;
}

.question_main {
   touch-action: manipulation;
   padding-top: calc(var(--pixel-size) * 18px);
}

.question_items_line {
   touch-action: manipulation;
   margin-left: 22.5%;
   padding-bottom: 253px;
   width: 55.0%;
   border-style: solid;
   border-width: 5px;
   border-top-width: 0px;
   border-radius: 0px 0px 15px 15px;
   border-color: black;
}

.question_Title {
   touch-action: manipulation;
      width: auto;
     position: relative;
     display: block;
     margin: auto;
     margin-top: -20px;
}

.question_title_img {
   touch-action: manipulation;
   width: calc(var(--pixel-size) * 55px);
   display: block;
   margin: auto;
   margin-top: -70px;
}

ul {
   touch-action: manipulation;
   display: none;
}

.question_character {
   touch-action: manipulation;
   width: calc(var(--pixel-size) * 32px);
   height: calc(var(--pixel-size) * 32px);
   overflow: hidden;
   position: relative;
   margin: 3.5em auto;
}

.question_character_spritesheet {
   touch-action: manipulation;
   animation: moveSpritesheet 1s steps(4) infinite;
   width: calc(128px * var(--pixel-size));
   position: absolute;
}

.question_pixelart {
   touch-action: manipulation;
   image-rendering: pixelated;
}

.question_face-right {
   top: calc(-32px * var(--pixel-size));
}

.question_face-up {
   top: calc(-64px * var(--pixel-size));
}

.question_face-left {
   top: calc(-96px * var(--pixel-size));
}

@keyframes moveSpritesheet {
   from {
      transform: translate3d(0px, 0, 0)
   }

   to {
      transform: translate3d(-100%, 0, 0)
   }
}

.question_color-controls {
   touch-action: manipulation;
   position: absolute;
   z-index: 99;
   left: 50%;
   bottom: $pixel * 5;
   max-width: $pixel * 170;
   width: 100%;
   margin-top: $pixel * 5;
   margin-bottom: $pixel * 3;
   transform: translateX(-50%);

   @include dialogStyles;
}


#question_name {
   touch-action: manipulation;
   @include pokeFont(2);
   display: none;
}

#question_traffic {
   touch-action: manipulation;
   @include pokeFont(2);
   display: none;
}

#question_worry {
   touch-action: manipulation;
   @include pokeFont(2);
   display: none;
}

#question_last {
   touch-action: manipulation;
   @include pokeFont(2);
   display: none;
}


.answer1 {
   touch-action: manipulation;
   @include pokeFont(2);
   display: inline-block;
   cursor: pointer;
   animation: fadein 2s;
   margin-top: 0px;
}

.answer2 {
   touch-action: manipulation;
   @include pokeFont(2);
   display: inline-block;
   cursor: pointer;
   animation: fadein 2s;
   margin-top: 0px;
}

.answer3 {
   touch-action: manipulation;
   @include pokeFont(2);
   display: inline-block;
   cursor: pointer;
   animation: fadein 2s;
   margin-top: 0px;
}

.answer4 {
   touch-action: manipulation;
   @include pokeFont(2);
   display: inline-block;
   cursor: pointer;
   animation: fadein 2s;
   word-break: break-all;
   margin-top: 0px;
}


/* 하영 추가 */
.answer1:hover {
   font-weight: bold;
   color: rgb(37, 37, 37)
}

.answer2:hover {
   font-weight: bold;
   color: rgb(37, 37, 37)
}

.answer3:hover {
   font-weight: bold;
   color: rgb(37, 37, 37)
}

.answer4:hover {
   font-weight: bold;
   color: rgb(37, 37, 37)
}

.textinput {
   touch-action: manipulation;
   padding-left: 5px;
   outline: none;
   min-width: 50px;
   max-width: 80%;
   background-color: transparent;
   border: 0;
   border-bottom: 2px solid rgb(194, 194, 194);
   font-weight: bold;
   font-size: medium;
   height: 40px;
   border-radius: 0;
}

.textinput:focus {
   touch-action: manipulation;
   border-color: #3d3d3d;
}

/* 여기까지 복사 */


#question_lastAnswer {
   touch-action: manipulation;
   @include pokeFont(2);
   font-family: "Pokemon GB", monospace;
   display: none;
}

.question_typing {
   touch-action: manipulation;
   @include pokeFont(2);
   line-height : 1.5em;
   margin-bottom: 0px;
   display: inline-block;
}

@keyframes fadein {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.question_blank {
   touch-action: manipulation;
   width: 0;
   height: 0;
   margin: 0;
   display: none;
}

.question_typing_div {
   touch-action: manipulation;
   margin-bottom: 20px;
}