@charset "UTF-8";
@font-face {
  font-family: "Pokemon GB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
#home {
  touch-action: none;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-family: "Pokemon GB", monospace;
  font-size: 16px;
  line-height: 1.875em;
  background-size: 114%;
  background-image: url("./background.gif");
}

.layer {
  touch-action: none;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Title {
  touch-action: none;
  width: auto;
  position: relative;
  display: block;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 50px;
}

.home_title {
  touch-action: none;
  width: calc(var(--pixel-size) * 80px);
  display: block;
  margin: auto;
  margin-top: -70px;
}

.Character1 {
  touch-action: none;
  width: calc(32px * var(--pixel-size1));
  height: calc(32px * var(--pixel-size1));
  position: relative;
  overflow: hidden;
  margin: -2em auto;
  margin-bottom: 10rem;
}

.Character_spritesheet {
  touch-action: none;
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size1));
  position: absolute;
}

.Character_shadow {
  touch-action: none;
  position: absolute;
  width: calc(32px * var(--pixel-size1));
  height: calc(32px * var(--pixel-size1));
}

.pixelart {
  touch-action: none;
  image-rendering: pixelated;
}

.face-right {
  top: calc(-32px * var(--pixel-size1));
}

.face-up {
  top: calc(-64px * var(--pixel-size1));
}

.face-left {
  top: calc(-96px * var(--pixel-size1));
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.home_color-controls {
  touch-action: none;
  position: absolute;
  z-index: 99;
  left: 50%;
  bottom: 11rem;
  max-width: 37.5rem;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 0.25rem;
  transform: translateX(-50%);
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: double 0.75rem #555;
  box-shadow: inset 0 0.25rem 0 #555, 0 0.25rem 0 #555;
  background-color: white;
  color: #555;
}
.home_color-controls ul {
  touch-action: none;
  display: none;
  list-style: none;
}
.home_color-controls .typing {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: block;
  text-align: center;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}
@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}
.home_color-controls #start {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: none;
  text-align: center;
  cursor: pointer;
  -webkit-animation: fadein 2s;
}
.home_color-controls #realStart {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: block;
  text-align: center;
  cursor: pointer;
  -webkit-animation: fadein 2s;
}

:root {
  touch-action: none;
  --pixel-size: 6;
}

.PixelArtImage {
  touch-action: none;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.Character {
  touch-action: none;
  width: calc(var(--pixel-size) * 32px);
  height: calc(var(--pixel-size) * 32px);
  overflow: hidden;
  position: relative;
  margin: calc(var(--pixel-size) * 6px) auto;
}

@-webkit-keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}
@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}
.walk {
  touch-action: none;
  -webkit-animation: walkAnimation 1.5s steps(4) infinite;
  animation: walkAnimation 1.5s steps(4) infinite;
  display: block;
}

.Character_sprite-sheet_accessory.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.Character_sprite-sheet_accessory.active_accessory.walk {
  touch-action: none;
  display: block;
}

.Character_sprite-sheet_base.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet_base.active_base.walk {
  touch-action: none;
  display: block;
}

/* 헤어 */
.Character_sprite-sheet_hair.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
    animation: walkAnimation 1.5s steps(4) infinite;  */
  /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet_hair.active_hair.walk {
  touch-action: none;
  display: block;
}

/* 옷 */
.Character_sprite-sheet_cloth.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
    animation: walkAnimation 1.5s steps(4) infinite;  */
  /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet_cloth.active_cloth.walk {
  touch-action: none;
  display: block;
}

/* 바지 */
.Character_sprite-sheet_bottom.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
    animation: walkAnimation 1.5s steps(4) infinite;  */
  /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet_bottom.active_bottom.walk {
  touch-action: none;
  display: block;
}

/* 신발 */
.Character_sprite-sheet_shoes.walk {
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  /* -webkit-animation: walkAnimation 1.5s steps(4) infinite;
    animation: walkAnimation 1.5s steps(4) infinite;  */
  /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet_shoes.active_shoes.walk {
  touch-action: none;
  display: block;
}

/* 
 Set up classes that change the y position of underlying spritesheet.
 Spritesheet is designed with this layout:
  D1 D2 D3 D4
  R1 R2 R3 R4 (32px away from top)
  U1 U2 U3 U4 (64px away from top)
  L1 L2 L3 L4 (96px away from top)
EX: https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/WalkingDemo-HANK-2-SHEET.png
*/
/* 베이스*/
.Character--walk-down .Character_sprite-sheet_base {
  touch-action: none;
  top: 0;
}

.Character--walk-down .Character_sprite-sheet_accessory {
  touch-action: none;
  top: 0;
}

.Character--walk-down .Character_sprite-sheet_hair {
  touch-action: none;
  top: 0;
}

.Character--walk-down .Character_sprite-sheet_cloth {
  touch-action: none;
  top: 0;
}

.Character--walk-down .Character_sprite-sheet_bottom {
  touch-action: none;
  top: 0;
}

.Character--walk-down .Character_sprite-sheet_shoes {
  touch-action: none;
  top: 0;
}

/* 춤 */
.Character--walk-right .Character_sprite-sheet_base {
  touch-action: none;
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-right .Character_sprite-sheet_accessory {
  touch-action: none;
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-right .Character_sprite-sheet_hair {
  touch-action: none;
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-right .Character_sprite-sheet_cloth {
  touch-action: none;
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-right .Character_sprite-sheet_bottom {
  touch-action: none;
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-right .Character_sprite-sheet_shoes {
  touch-action: none;
  top: calc(var(--pixel-size) * -32px);
}

/* 걷기 */
.Character--walk-up .Character_sprite-sheet_base {
  touch-action: none;
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-up .Character_sprite-sheet_accessory {
  touch-action: none;
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-up .Character_sprite-sheet_hair {
  touch-action: none;
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-up .Character_sprite-sheet_cloth {
  touch-action: none;
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-up .Character_sprite-sheet_bottom {
  touch-action: none;
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-up .Character_sprite-sheet_shoes {
  touch-action: none;
  top: calc(var(--pixel-size) * -64px);
}

/* 미정 */
.Character--walk-left .Character_sprite-sheet_base {
  touch-action: none;
  top: calc(var(--pixel-size) * -96px);
}

.Character--walk-left .Character_sprite-sheet_accessory {
  touch-action: none;
  top: calc(var(--pixel-size) * -96px);
}

.Character--walk-left .Character_sprite-sheet_hair {
  touch-action: none;
  top: calc(var(--pixel-size) * -96px);
}

.Character--walk-left .Character_sprite-sheet_cloth {
  touch-action: none;
  top: calc(var(--pixel-size) * -96px);
}

.Character--walk-left .Character_sprite-sheet_bottom {
  touch-action: none;
  top: calc(var(--pixel-size) * -96px);
}

.Character--walk-left .Character_sprite-sheet_shoes {
  touch-action: none;
  top: calc(var(--pixel-size) * -96px);
}

/* Demo UI Stuff ------------------------------------------------- */
body {
  touch-action: none;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(180deg, #eaeaea 0%, #eaeaea 100%); */
  /*height: 100%;*/
  min-height: 100vh;
  padding-top: calc(var(--pixel-size) * 18px);
  font-family: "Dosis", sans-serif;
}

.Container {
  touch-action: none;
  max-width: calc(var(--pixel-size) * 100px);
  margin: 0 auto;
}

.custom_header {
  touch-action: none;
  margin-left: 22.5%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  width: 54.5%;
  background-color: rgba(54, 54, 54, 0.8);
  border-style: solid;
  border-width: 5px;
  border-radius: 15px 15px 0px 0px;
  border-color: black;
}

.custom_items_line {
  touch-action: none;
  margin-left: 22.5%;
  padding-bottom: 171px;
  width: 54.5%;
  border-style: solid;
  border-width: 5px;
  border-top-width: 0px;
  border-radius: 0px 0px 15px 15px;
  border-color: black;
}

.TitleImage {
  touch-action: none;
  width: calc(var(--pixel-size) * 55px);
  display: block;
  margin: auto;
  margin-top: -70px;
}

.Bubble {
  touch-action: none;
  -webkit-appearance: none;
  width: calc(var(--pixel-size) * 3px);
  height: calc(var(--pixel-size) * 3px);
  background: #2497cc;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  box-sizing: content-box;
}

.NavigationBubble:hover:not(.active) {
  touch-action: none;
  opacity: 0.9;
}

.NavigationBubble.active {
  touch-action: none;
  background: #fff;
}

.NextSpritesheetButton {
  touch-action: none;
  -webkit-appearance: none;
  border: 0;
  background: none;
  padding: 1em;
  position: absolute;
  top: 50%;
}

/* 악세사리 버튼 */
.NextSpritesheetButton--prev--accessory {
  touch-action: none;
  top: -10%;
  left: 80%;
}

.NextSpritesheetButton--next--accessory {
  touch-action: none;
  top: -10%;
  right: 0;
}

/* 머리 버튼 */
.NextSpritesheetButton--prev--hair {
  touch-action: none;
  top: 10%;
  left: 0;
}

.NextSpritesheetButton--next--hair {
  touch-action: none;
  top: 10%;
  right: 0;
}

/* 옷 버튼 */
.NextSpritesheetButton--prev--cloth {
  touch-action: none;
  top: 30%;
  left: 0;
}

.NextSpritesheetButton--next--cloth {
  touch-action: none;
  top: 30%;
  right: 0;
}

/* 바지 버튼 */
.NextSpritesheetButton--prev--bottom {
  touch-action: none;
  top: 50%;
  left: 0;
}

.NextSpritesheetButton--next--bottom {
  touch-action: none;
  top: 50%;
  right: 0;
}

/* 신발 버튼 */
.NextSpritesheetButton--prev--shoes {
  touch-action: none;
  top: 70%;
  left: 0;
}

.NextSpritesheetButton--next--shoes {
  touch-action: none;
  top: 70%;
  right: 0;
}

.NextSpritesheetButton:hover {
  touch-action: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.NextSpritesheetButton:focus {
  touch-action: none;
  outline: none;
}

.NextSpritesheetButton svg {
  touch-action: none;
  display: block;
  width: calc(var(--pixel-size) * 4px);
}

.DirectionArrow {
  touch-action: none;
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.DirectionArrow svg {
  touch-action: none;
  display: block;
  width: calc(var(--pixel-size) * 13px);
}

.DirectionArrow--active .Arrow_outline-top {
  touch-action: none;
  stroke: #5268ec;
}

.DirectionArrow--active .Arrow_surface {
  touch-action: none;
  stroke: #639bff;
}

.DirectionArrow--active .Arrow_outline-bottom {
  touch-action: none;
  stroke: #164496;
}

.DirectionArrow--active .Arrow_edge {
  touch-action: none;
  stroke: #7baaff;
}

.DirectionArrow--active .Arrow_front {
  touch-action: none;
  stroke: #4c8bfd;
}

.DirectionArrow--active .Arrow_arrow-inset {
  touch-action: none;
  stroke: #fff;
}

.DirectionArrow--active .Arrow_arrow-body {
  touch-action: none;
  stroke: #fff;
}

/* 하영변경 */
.SpritesheetSlider {
  touch-action: none;
  position: relative;
  /*margin-bottom: calc(var(--pixel-size) * 30px);*/
}

.flex-center {
  margin-top: 47px;
  touch-action: none;
  display: flex;
  justify-content: center;
}

/*하영수정 - 버튼*/
.btn {
  touch-action: none;
  position: relative;
  width: 35px;
  margin: 10px 0px 15px 0px;
  color: #76777e;
  box-shadow: 0 -3px 0 #35363a, 0 3px 0 #35363a, 3px 0 0 #35363a, -3px 0 0 #35363a;
  /*width: 60px;*/
}

/*하영추가 - 버튼 디자인*/
.btn:hover {
  touch-action: none;
  cursor: pointer;
  color: #fff;
  background-color: #a3a3a3;
}

.acc {
  touch-action: none;
  top: -13%;
  left: 84.2%;
  width: 45px;
}

.cap {
  touch-action: none;
  opacity: 0;
  display: none;
}

.capImg_hair {
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.result {
  touch-action: none;
  margin-top: 500px;
  width: 2000px;
  height: 2000px;
  overflow: hidden;
  position: relative;
}

.card-container {
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

/* 하영추가 - 이름입력 */
.characterName {
  touch-action: none;
  position: relative;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  width: 350px;
  height: 45px;
  margin: 87px 30px 30px 0px;
  color: #333333;
  background-color: #f9f9f9;
  box-shadow: 0 -3px 0 #35363a, 0 3px 0 #35363a, 3px 0 0 #35363a, -3px 0 0 #35363a;
  outline: none;
}

/* 하영추가 - 버튼 */
.new-btn {
  margin-top: 57px;
  touch-action: none;
  display: flex;
  font-size: medium;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #333333;
  height: 43px;
  width: 60px;
  box-shadow: 0 -3px 0 #35363a, 0 3px 0 #35363a, 3px 0 0 #35363a, -3px 0 0 #35363a;
}

/* 하영추가 - 버튼 디자인*/
.new-btn:hover {
  touch-action: none;
  cursor: pointer;
  color: #fff;
  background-color: #4c4c4c;
}

.staticleft {
  touch-action: none;
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 3.5s;
  animation: loopleft 3s 1 alternate forwards;
}

.staticright {
  touch-action: none;
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 3.5s;
  animation: loopright 3s 1 alternate forwards;
}

@keyframes loopleft {
  0% {
    top: 0px;
    left: 77.5%;
  }
  100% {
    top: 0px;
    left: 77.5%;
  }
}
@keyframes loopright {
  0% {
    top: 0px;
    right: 77.5%;
  }
  100% {
    top: 0px;
    right: 77.5%;
  }
}
.lefttv {
  touch-action: none;
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 3.5s;
  animation: leftloop 4s 1 alternate forwards;
}

.righttv {
  touch-action: none;
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 3.5s;
  animation: rightloop 4s 1 alternate forwards;
}

@keyframes rightloop {
  0% {
    top: 0px;
    left: 100%;
  }
  100% {
    top: 0px;
    left: 77.5%;
  }
}
@keyframes leftloop {
  0% {
    top: 0px;
    right: 100%;
  }
  100% {
    top: 0px;
    right: 77.5%;
  }
}
.custom_body {
  touch-action: none;
  padding-top: 0;
}

::-webkit-scrollbar {
  touch-action: none;
  display: none;
}

.custom_container {
  touch-action: none;
  padding-top: calc(var(--pixel-size) * 18px);
}

.custom_wrap {
  touch-action: none;
}

.middle_box {
  touch-action: none;
}

#characterNameForm {
  touch-action: none;
}

#cap {
  touch-action: none;
}

:root {
  --pixel-size: 6;
}

.question_body {
  touch-action: none;
  padding-top: 0;
}
.question_body ::-webkit-scrollbar {
  display: none;
}

.question_header {
  touch-action: none;
  margin-left: 22.5%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  width: 54.5%;
  background-color: rgba(54, 54, 54, 0.8);
  border-style: solid;
  border-width: 5px;
  border-radius: 15px 15px 0px 0px;
  border-color: black;
}

.question_main {
  touch-action: none;
  padding-top: calc(var(--pixel-size) * 18px);
}

.question_items_line {
  touch-action: none;
  margin-left: 22.5%;
  padding-bottom: 435px;
  width: 54.5%;
  border-style: solid;
  border-width: 5px;
  border-top-width: 0px;
  border-radius: 0px 0px 15px 15px;
  border-color: black;
}

.question_Title {
  touch-action: none;
  width: auto;
  position: relative;
  display: block;
  margin: auto;
  margin-top: -20px;
}

.question_title_img {
  touch-action: none;
  width: calc(var(--pixel-size) * 55px);
  display: block;
  margin: auto;
  margin-top: -70px;
}

ul {
  touch-action: none;
  display: none;
}

.question_character {
  touch-action: none;
  width: calc(var(--pixel-size) * 32px);
  height: calc(var(--pixel-size) * 32px);
  overflow: hidden;
  position: relative;
  margin: 3.5em auto;
}

.question_character_spritesheet {
  touch-action: none;
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
  position: absolute;
}

.question_pixelart {
  touch-action: none;
  image-rendering: pixelated;
}

.question_face-right {
  top: calc(-32px * var(--pixel-size));
}

.question_face-up {
  top: calc(-64px * var(--pixel-size));
}

.question_face-left {
  top: calc(-96px * var(--pixel-size));
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.question_color-controls {
  touch-action: none;
  position: absolute;
  z-index: 99;
  left: 50%;
  bottom: 6.25rem;
  max-width: 37.5rem;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  transform: translateX(-50%);
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: double 0.75rem #555;
  box-shadow: inset 0 0.25rem 0 #555, 0 0.25rem 0 #555;
  background-color: white;
  color: #555;
}

#question_name {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: none;
}

#question_traffic {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: none;
}

#question_worry {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: none;
}

#question_last {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: none;
}

.answer1 {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: inline-block;
  cursor: pointer;
  animation: fadein 2s;
  margin-top: 0px;
}

.answer2 {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: inline-block;
  cursor: pointer;
  animation: fadein 2s;
  margin-top: 0px;
}

.answer3 {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: inline-block;
  cursor: pointer;
  animation: fadein 2s;
  margin-top: 0px;
}

.answer4 {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: inline-block;
  cursor: pointer;
  animation: fadein 2s;
  word-break: break-all;
  margin-top: 0px;
}

/* 하영 추가 */
.answer1:hover {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.answer2:hover {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.answer3:hover {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.answer4:hover {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.textinput {
  touch-action: none;
  padding-left: 5px;
  outline: none;
  min-width: 50px;
  max-width: 80%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgb(194, 194, 194);
  font-weight: bold;
  font-size: medium;
  height: 40px;
  border-radius: 0;
}

.textinput:focus {
  touch-action: none;
  border-color: #3d3d3d;
}

/* 여기까지 복사 */
#question_lastAnswer {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  font-family: "Pokemon GB", monospace;
  display: none;
}

.question_typing {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  line-height: 1.5em;
  margin-bottom: 0px;
  display: inline-block;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.question_blank {
  touch-action: none;
  width: 0;
  height: 0;
  margin: 0;
  display: none;
}

.question_typing_div {
  touch-action: none;
  margin-bottom: 20px;
}

#letter_body {
  touch-action: none;
  padding-top: 0;
}

.letter_header {
  touch-action: none;
  margin-left: 22.5%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  width: 54.5%;
  background-color: rgba(54, 54, 54, 0.8);
  border-style: solid;
  border-width: 5px;
  border-radius: 15px 15px 0px 0px;
  border-color: black;
}

.letter_color-controls {
  touch-action: none;
  position: absolute;
  left: 50%;
  bottom: 7.75rem;
  max-width: 35.5rem;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  transform: translateX(-50%);
  padding: 1.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: double 0.75rem #555;
  box-shadow: inset 0 0.25rem 0 #555, 0 0.25rem 0 #555;
  background-color: white;
  color: #555;
}
.letter_color-controls #letter_end {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: block;
  text-align: center;
  cursor: pointer;
  -webkit-animation: fadein 2s;
}

.letter_items_line {
  touch-action: none;
  margin-left: 22.5%;
  padding-bottom: 563px;
  width: 54.5%;
  border-style: solid;
  border-width: 5px;
  border-top-width: 0px;
  border-radius: 0px 0px 15px 15px;
  border-color: black;
}

.letter_container {
  touch-action: none;
  padding-top: calc(var(--pixel-size) * 18px);
}

.letter_title {
  touch-action: none;
  width: auto;
  position: relative;
  display: block;
  margin: auto;
  margin-top: -20px;
}

h2 {
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  font-weight: bold;
  font-size: 30px;
}

.letter_title_inbox {
  touch-action: none;
  width: calc(var(--pixel-size) * 55px);
  display: block;
  margin: auto;
  margin-top: -70px;
}

.overlay {
  touch-action: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  touch-action: none;
  visibility: visible;
  opacity: 1;
}

.popup {
  touch-action: none;
  margin: 138px auto;
  background: #fff;
  border-radius: 15px 15px 5px 5px;
  width: 570px;
  position: relative;
  transition: all 2s ease-in-out;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.popup .content {
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  touch-action: none;
  padding: 20px;
  max-height: 30%;
  overflow: auto;
}

.letter_inner_header {
  touch-action: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  border-bottom: 5px solid rgba(113, 119, 144, 0.25);
  border-radius: 15px 15px 0px 0px;
  border-color: black;
}

.header {
  touch-action: none;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  border-bottom: 5px solid rgba(113, 119, 144, 0.25);
  border-radius: 15px 15px 0px 0px;
  border-color: black;
}

.menu-circle {
  touch-action: none;
  width: 15px;
  height: 15px;
  background-color: #f96057;
  border-radius: 50%;
  box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
  margin-left: 20px;
  flex-shrink: 0;
}

.letter_menu-circle {
  touch-action: none;
  margin-top: 5px;
  width: 15px;
  height: 15px;
  background-color: #f96057;
  border-radius: 50%;
  box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
  margin-left: 20px;
  flex-shrink: 0;
}

.wave-effect {
  touch-action: none;
  position: relative;
  margin: 0 auto;
  top: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  margin-top: 126px;
}

.wave-effect span {
  touch-action: none;
  position: relative;
  font-size: 74px;
}

.wave-effect::after {
  touch-action: none;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: "";
  height: 100%;
  width: 100%;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  animation-name: ripple;
  animation-duration: 0.9s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

.wave-effect::before {
  touch-action: none;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: "";
  height: 100%;
  width: 100%;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  animation-name: ripple;
  animation-duration: 0.9s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}
.letter_character {
  touch-action: none;
  width: calc(var(--pixel-size) * 32px);
  height: calc(var(--pixel-size) * 32px);
  overflow: hidden;
  position: relative;
  margin: calc(var(--pixel-size) * 6px) auto;
}

.letter_character_spritesheet {
  touch-action: none;
  -webkit-animation: walkAnimation 1.5s steps(4) infinite;
  animation: walkAnimation 1.5s steps(4) infinite;
  display: block;
  touch-action: none;
  width: calc(var(--pixel-size) * 128px);
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}
@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}
#loading_body {
  touch-action: none;
  padding-top: 0;
}
#loading_body ::-webkit-scrollbar {
  display: none;
}

.loading_header {
  touch-action: none;
  margin-left: 22.5%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  width: 54.5%;
  background-color: rgba(54, 54, 54, 0.8);
  border-style: solid;
  border-width: 5px;
  border-radius: 15px 15px 0px 0px;
  border-color: black;
}

.loading_layer {
  touch-action: none;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  --pixel-size1: 9;
  --pixel-size2: 7.3;
}

.loading_Title {
  touch-action: none;
  width: auto;
  position: relative;
  display: block;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 50px;
}

.loading_title_img {
  touch-action: none;
  width: calc(var(--pixel-size) * 55px);
  display: block;
  margin: auto;
  margin-top: -70px;
}

.loading_Character1 {
  touch-action: none;
  width: calc(32px * var(--pixel-size2));
  height: calc(32px * var(--pixel-size2));
  position: relative;
  overflow: hidden;
  margin: -1em auto;
  margin-bottom: 10rem;
}

.loading_Character_spritesheet {
  touch-action: none;
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size2));
  position: absolute;
}

.loading_Character_shadow {
  touch-action: none;
  position: absolute;
  width: calc(32px * var(--pixel-size2));
  height: calc(32px * var(--pixel-size2));
}

.loading_color-controls {
  touch-action: none;
  position: absolute;
  z-index: 99;
  left: 50%;
  bottom: 10rem;
  max-width: 35.5rem;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  transform: translateX(-50%);
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: double 0.75rem #555;
  box-shadow: inset 0 0.25rem 0 #555, 0 0.25rem 0 #555;
  background-color: white;
  color: #555;
}
.loading_color-controls ul {
  touch-action: none;
  display: none;
  list-style: none;
}
.loading_color-controls .loading_typing {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: block;
  text-align: center;
  animation-duration: 0s;
  animation-iteration-count: infinite;
}
@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}
.loading_color-controls #loading_start {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: none;
  text-align: center;
  cursor: pointer;
  -webkit-animation: fadein 2s;
}
.loading_color-controls #loading_restart {
  touch-action: none;
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  text-transform: uppercase;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: #555;
  display: block;
  text-align: center;
  cursor: pointer;
  margin-left: 15px;
  -webkit-animation: fadein 2s;
}

.loading_main {
  touch-action: none;
  padding-top: calc(var(--pixel-size2) * 18px);
}

.loading_items_line {
  touch-action: none;
  margin-left: 22.5%;
  padding-bottom: 388px;
  width: 54.5%;
  border-style: solid;
  border-width: 5px;
  border-top-width: 0px;
  border-radius: 0px 0px 15px 15px;
  border-color: black;
}

.nftpage_body {
  padding: 0px;
}

.nft_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  background-color: white;
}

.object {
  margin-top: 383px;
}

.title {
  display: block;
  width: 700px;
  margin: auto;
}

.nft-card {
  float: left;
  position: relative;
  display: inline-block;
  width: 314px;
  margin: 20px;
  color: #232323;
  /* when stop */
  /* when stop */
  /* when stop */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.nft-card.nft-card--locked .nft-card--content {
  color: #232323;
}

.nft-card.nft-card--locked .nft-card--content:before, .nft-card.nft-card--locked .nft-card--content:after {
  display: none;
}

.nft-card.nft-card--locked .nft-card--content {
  pointer-events: none;
  -webkit-filter: blur(15px);
  /* Safari 6.0 - 9.0 */
  filter: blur(15px);
  opacity: 35%;
}

.nft-card.nft-card--collection {
  margin-top: 30px;
}

.nft-card.nft-card--collection:hover:before, .nft-card.nft-card--collection:hover:after {
  top: -12px;
  left: 10.5%;
  height: 12px;
  width: 79%;
}

.nft-card.nft-card--collection:hover:after {
  top: -24px;
  left: 15.5%;
  height: 12px;
  width: 69%;
}

.nft-card.nft-card--collection:hover .nft-card--header:before {
  top: -36px;
  left: 20.5%;
  height: 12px;
  width: 59%;
}

.nft-card.nft-card--collection:before, .nft-card.nft-card--collection:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 10%;
  display: block;
  height: 10px;
  width: 80%;
  border-radius: 20px 20px 0 0;
  background: #000;
  opacity: 15%;
  transition: 0.3s;
}

.nft-card.nft-card--collection:after {
  top: -20px;
  width: 70%;
  left: 15%;
  opacity: 10%;
}

.nft-card.nft-card--collection .nft-card--header {
  padding: 0;
}

.nft-card.nft-card--collection .nft-card--header:before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: 20%;
  display: block;
  height: 10px;
  width: 60%;
  border-radius: 20px 20px 0 0;
  background: #000;
  opacity: 5%;
  transition: 0.3s;
}

.nft-card.nft-card--collection .nft-card--header:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 1px;
  width: 1px;
  border-top: 45px solid #f9f9f9;
  border-right: 45px solid #f9f9f9;
  border-left: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-radius: 0 30px 0 0;
  background: transparent;
}

.nft-card.nft-card--collection .nft-card--content {
  background: #000000;
}

.nft-card.nft-card--collection .nft-card--content:before {
  content: "\f02e";
  position: absolute;
  height: auto;
  width: auto;
  top: 10px;
  right: 30px;
  z-index: 1;
  font-family: FontAwesome;
  font-size: 40px;
  color: #e7007c;
  background: none;
}

.nft-card.nft-card--collection .nft-card--content:after {
  display: none;
}

.nft-card.nft-card--collection .nft-card--content .nft-title {
  position: absolute;
  top: 50%;
  right: 60px;
  left: 60px;
  z-index: 10;
  height: 100px;
  margin-top: -50px;
  text-align: center;
}

.nft-card.nft-card--collection .nft-card--content .nft-title h3 {
  margin: 0;
  padding: 6px 20px;
  font-family: Roboto;
  font-size: 28px;
  line-height: 1.2;
  text-transform: uppercase;
}

.nft-card.nft-card--collection .nft-card--content .nft-title h3 span {
  display: block;
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
}

.nft-card.nft-card--collection .nft-card--content {
  opacity: 75%;
}

.nft-card.nft-card--category {
  margin-top: 30px;
}

.nft-card.nft-card--category:hover:before, .nft-card.nft-card--category:hover:after {
  top: -12px;
  left: 10.5%;
  height: 12px;
  width: 79%;
}

.nft-card.nft-card--category:hover:after {
  top: -24px;
  left: 15.5%;
  height: 12px;
  width: 69%;
}

.nft-card.nft-card--category:hover .nft-card--header:before {
  top: -36px;
  left: 20.5%;
  height: 12px;
  width: 59%;
}

.nft-card.nft-card--category:before, .nft-card.nft-card--category:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 10%;
  display: block;
  height: 10px;
  width: 80%;
  border-radius: 20px 20px 0 0;
  background: #000;
  opacity: 15%;
  transition: 0.3s;
}

.nft-card.nft-card--category:after {
  top: -20px;
  width: 70%;
  left: 15%;
  opacity: 10%;
}

.nft-card.nft-card--category .nft-card--header {
  padding: 0;
}

.nft-card.nft-card--category .nft-card--header:before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: 20%;
  display: block;
  height: 10px;
  width: 60%;
  border-radius: 20px 20px 0 0;
  background: #000;
  opacity: 5%;
  transition: 0.3s;
}

.nft-card.nft-card--category .nft-card--header:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 1px;
  width: 1px;
  border-top: 45px solid #f9f9f9;
  border-right: 45px solid #f9f9f9;
  border-left: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-radius: 0 30px 0 0;
  background: transparent;
}

.nft-card.nft-card--category .nft-card--content {
  height: 210px;
  background: #000000;
}

.nft-card.nft-card--category .nft-card--content:before {
  content: "\f02e";
  position: absolute;
  height: auto;
  width: auto;
  top: 10px;
  right: 30px;
  z-index: 1;
  font-family: FontAwesome;
  font-size: 40px;
  color: #e7007c;
  background: none;
}

.nft-card.nft-card--category .nft-card--content:after {
  display: none;
}

.nft-card.nft-card--category .nft-card--content .nft-title {
  position: absolute;
  top: 50%;
  right: 60px;
  left: 60px;
  z-index: 10;
  height: 66px;
  margin-top: -33px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(15px);
}

.nft-card.nft-card--category .nft-card--content .nft-title h3 {
  margin: 0;
  padding: 6px 20px;
  font-family: Roboto;
  font-size: 28px;
  line-height: 1.2;
  text-transform: uppercase;
}

.nft-card.nft-card--category .nft-card--content .nft-title h3 span {
  display: block;
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
}

.nft-card.nft-card--category .nft-card--content {
  float: left;
  width: 50%;
  height: 50%;
  opacity: 75%;
}

.nft-card.nft-card--upload {
  margin-top: 80px;
}

.nft-card.nft-card--upload:hover:before, .nft-card.nft-card--upload:hover:after {
  top: -12px;
  left: 10.5%;
  height: 12px;
  width: 79%;
}

.nft-card.nft-card--upload:hover:after {
  top: -24px;
  left: 15.5%;
  height: 12px;
  width: 69%;
}

.nft-card.nft-card--upload:hover .nft-card--header:before {
  top: -36px;
  left: 20.5%;
  height: 12px;
  width: 59%;
}

.nft-card.nft-card--upload:before, .nft-card.nft-card--upload:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 10%;
  display: block;
  height: 10px;
  width: 80%;
  border-radius: 20px 20px 0 0;
  background: #000;
  opacity: 15%;
  transition: 0.3s;
}

.nft-card.nft-card--upload:after {
  top: -20px;
  width: 70%;
  left: 15%;
  opacity: 10%;
}

.nft-card.nft-card--upload .nft-card--header {
  padding: 0;
}

.nft-card.nft-card--upload .nft-card--header:before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: 20%;
  display: block;
  height: 10px;
  width: 60%;
  border-radius: 20px 20px 0 0;
  background: #000;
  opacity: 5%;
  transition: 0.3s;
}

.nft-card.nft-card--upload .nft-card--header:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 1px;
  width: 1px;
  border-top: 45px solid #f9f9f9;
  border-right: 45px solid #f9f9f9;
  border-left: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-radius: 0 30px 0 0;
  background: transparent;
}

.nft-card.nft-card--upload .nft-card--content {
  color: #999;
  background: #fff;
}

.nft-card.nft-card--upload .nft-card--content:before {
  content: "\f02e";
  position: absolute;
  height: auto;
  width: auto;
  top: 10px;
  right: 30px;
  z-index: 1;
  font-family: FontAwesome;
  font-size: 40px;
  color: #e7007c;
  background: none;
}

.nft-card.nft-card--upload .nft-card--content:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  height: auto;
  width: auto;
  border-radius: 10px;
  border: 2px dashed #ddd;
  background: none;
}

.nft-card.nft-card--upload .nft-card--content .nft-description i {
  font-size: 32px;
}

.nft-card.nft-card--upload .nft-card--content .nft-description h3 {
  margin: 10px 0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.nft-card.nft-card--upload .nft-card--content .nft-description h3 span {
  display: block;
  font-size: 12px;
  font-weight: none;
}

.nft-card.nft-card--upload .nft-card--content {
  opacity: 75%;
}

.nft-card.nft-card--music .nft-card--content:after {
  display: none;
}

.nft-card.nft-card--music .nft-card--content .nft-qrcode {
  color: #232323;
}

.nft-card .nft-card--header {
  padding: 10px 20px;
  transition: 0.3s;
}

.nft-card .nft-card--content:before, .nft-card .nft-card--content:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  height: 155px;
  width: 108%;
}

.nft-card .nft-card--content .nft-action {
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 30px;
  font-size: 16px;
  font-family: Roboto;
  color: inherit;
}

.nft-card .nft-card--content .nft-action span {
  margin-left: 10px;
}

.nft-card .nft-card--content .nft-action i {
  font-size: 18px;
  margin-left: 5px;
}

.nft-card {
  width: 314px;
  height: 100%;
  object-fit: scale-down;
}

.nft-card .nft-card--content video {
  width: 100%;
  height: 122%;
  margin-top: -15%;
  object-fit: scale-down;
}

.nft-card .nft-badge {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 30px;
}

.nft-card .nft-card--content .nft-qrcode {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 30px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: inherit;
}

.nft-card .nft-card--content .nft-qrcode span {
  display: block;
  font-size: 14px;
  font-weight: normal;
}

.nft-card .nft-card--content .nft-qrcode,
.nft-card .nft-card--content .nft-qrcode .fa-qrcode {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.nft-card .nft-card--content .nft-unlock {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

.nft-card .nft-card--content .nft-description {
  position: absolute;
  top: 50%;
  right: 60px;
  left: 60px;
  z-index: 10;
  height: 100px;
  margin-top: -50px;
  text-align: center;
}

.nft-card .nft-card--footer {
  padding: 10px 20px;
  transition: 0.3s;
}

.nft-card .nft-card--footer .nft-time {
  float: left;
}

.nft-card .nft-card--footer .nft-price {
  float: right;
}

.nft-card .wave {
  position: absolute;
  height: 900px;
  width: 900px;
  opacity: 0.5;
  left: 0;
  top: 0;
  z-index: 1;
  margin-left: -75%;
  margin-top: 100%;
  background: radial-gradient(black, rgba(0, 0, 0, 0.15));
  background: radial-gradient(white, rgba(255, 255, 255, 0.25));
}

.nft-card .wave:nth-child(2) {
  top: 5px;
}

.nft-card .wave:nth-child(3) {
  top: 10px;
}

.nft-card:hover .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.nft-card .wave {
  border-radius: 40%;
  animation: wave 7s infinite linear;
}

.nft-card:hover .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.nft-card .wave:nth-child(2) {
  animation-duration: 5s;
}

.nft-card:hover .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.nft-card .wave:nth-child(3) {
  animation-duration: 3s;
}

.nft-card.nft-card--compact {
  transition: 0.3s ease;
}

.nft-card.nft-card--compact:hover {
  transform: scale(1.01);
}

.nft-card.nft-card--compact:hover .nft-card--content {
  transform: scale(1);
  transition: 0s;
}

.nft-card.nft-card--compact.nft-card--locked .nft-card--header .nft-user {
  color: #232323;
}

.nft-card.nft-card--compact.nft-card--locked .nft-card--footer .nft-time,
.nft-card.nft-card--compact.nft-card--locked .nft-card--footer .nft-price {
  color: #232323;
}

.nft-card.nft-card--compact .nft-card--header {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 10;
  padding: 0;
}

.nft-card.nft-card--compact .nft-card--header .nft-user {
  color: #fff;
}

.nft-card.nft-card--compact .nft-card--footer {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  padding: 0;
  color: #fff;
}

.nft-card.nft-card--compact .nft-card--footer .nft-time,
.nft-card.nft-card--compact .nft-card--footer .nft-price {
  float: none;
  text-align: right;
}

.nft-profile {
  position: relative;
  display: inline-block;
  width: 374px;
  margin: 20px;
  color: #232323;
  transition: 0.3s;
}

.nft-profile:hover .nft-profile--content {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
}

.nft-profile .nft-profile--header {
  padding: 0;
}

.nft-profile .nft-profile--content {
  position: relative;
  width: 100%;
  height: 500px;
  color: #fff;
  background: #fff;
  border: 10px solid #fff;
  border-radius: 30px;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.3s;
  background: #fff;
  outline: 1px solid #ddd;
}

.nft-profile .nft-profile--content {
  width: 100%;
  height: 45%;
  object-fit: cover;
}

.nft-profile .nft-profile--content .nft-user {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -91px 0 0 -91px;
}

.nft-profile .nft-profile--content .nft-user {
  width: 150px;
  height: 150px;
  border: 16px solid #fff;
  margin: 0;
}

.nft-profile .nft-profile--content .nft-info {
  margin-top: 100px;
  text-align: center;
}

.nft-profile .nft-profile--content .nft-info h3 {
  font-family: Roboto;
  color: #232323;
  font-wight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.nft-profile .nft-profile--content .nft-info h3 span {
  display: block;
  font-size: 16px;
  text-transform: none;
  margin-top: 5px;
}

.nft-profile .nft-profile--content .nft-action {
  text-align: center;
}

.nft-user {
  min-width: 200px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
}

.nft-user span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  opacity: 45%;
}

.nft-user {
  float: left;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 100%;
  border: 2px solid #fff;
  object-fit: cover;
}

.nft-time {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
}

.nft-time span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  opacity: 45%;
}

.nft-price,
.nft-balance {
  font-family: "Pokemon GB", monospace;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: right;
}

.nft-price span,
.nft-balance span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  opacity: 45%;
}

.nft-price i,
.nft-balance i {
  font-weight: normal;
}

.nft-audiotrack {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  height: 50px;
  width: 62%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.35);
  overflow: hidden;
}

.nft-audiotrack {
  min-height: 500px;
  min-width: 374px;
  object-fit: cover;
  -webkit-filter: blur(15px);
  /* Safari 6.0 - 9.0 */
  filter: blur(15px);
  opacity: 75%;
}

p {
  font-size: 16px;
  font-family: Roboto;
  line-height: 21px;
  color: #757575;
}

.badge {
  padding: 4px 10px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  color: #232323;
  background: #fff;
  border-radius: 3px;
}

.origin {
  display: none;
}

.nft-card .nft-card--content {
  position: relative;
  width: 300px;
  height: 320px;
  color: #fff;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  transition: 0.3s;
}

.page_character {
  width: calc(var(--pixel-size) * 64px);
  height: calc(var(--pixel-size) * 64px);
  overflow: hidden;
  position: relative;
  padding-right: 10px;
}

.page_character_spritesheet {
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(159px * var(--pixel-size));
  position: absolute;
}

#field {
  margin-left: 311px;
  margin-right: 400px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 70px;
}

.nftpage_header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  background-color: rgba(54, 54, 54, 0.8);
  border-style: solid;
  border-width: 5px;
  border-radius: 15px 15px 0px 0px;
  border-color: black;
}

.cardheader {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 45px;
  background-color: rgba(54, 54, 54, 0.8);
  border-style: solid;
  border-width: 5px;
  border-radius: 15px 15px 0px 0px;
  border-color: black;
}

.carditems {
  width: 304px;
  height: 393px;
  padding-bottom: 50px;
  border-style: solid;
  border-width: 5px;
  border-top-width: 0px;
  border-radius: 0px 0px 15px 15px;
  border-color: black;
}

#nft-name {
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  color: black;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

#nft_category {
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  color: black;
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

#nft-price-span {
  font-family: "Pokemon GB", monospace;
  font-weight: 550;
  font-size: 20px;
  color: black;
  font-size: 17px;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

.nft-link {
  width: 440px;
  height: 644px;
}

:root {
  --pixel-size: 8;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}
@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}
.webcam_character {
  width: calc(var(--pixel-size) * 32px);
  height: calc(var(--pixel-size) * 32px);
  overflow: hidden;
  margin: calc(var(--pixel-size) * 6px) auto;
  position: absolute;
  left: 80%;
  top: 45%;
}

.webcam__spritesheet {
  -webkit-animation: walkAnimation 1.5s steps(4) infinite;
  animation: walkAnimation 1.5s steps(4) infinite;
  width: calc(var(--pixel-size) * 128px);
}

#webcame_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: thistle;
  border-width: 10px;
}

#videoElement {
  background-color: white;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
  border: 15px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 3px;
}

.webcame_home {
  font-family: DungGeunMo;
  position: absolute;
  top: 5%;
  left: 90%;
  font-size: 60px;
  font-weight: 600;
  color: red;
  background-color: white;
  border-radius: 40px;
  padding: 10px 20px 13px 20px;
}

.webcame_home:hover {
  background-color: rgb(244, 96, 116);
  color: white;
  cursor: pointer;
}

#web_body {
  padding-top: 0px;
}

* {
  touch-action: none;
}
